
<div class="home-background">
  <%= image_tag "GFY.jpg" %>
</div>
    <h1 id="welcome-page">Have a great idea?  <span style=color:#00A08E>Share it.</span></h1>
    <p id="sub-header">GoFundYourself is an online platform for crowd funded ideas to grow into companies.  Create your own project, or help someone else's along.</p>

  <a href="#" class="myButton">Get Started</a>
