// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  overflow: hidden;
  background-color: #F9F9F9;
}

.profile-info {
  overflow: hidden;
  display: block;
}
.profile-page-image {
  width: 136px;
  border-radius: 100%;
  display: inline-block;
  float: left;
  margin:  16px 24px 0px 44px;
  border: 1px solid lightgrey;
}

.profile-page-user-info {
  float: left;
  margin-top: 56px;
}
.profile-page-name {
  font-size: 36px;
  margin: 0;

}

.profile-page-email {
  font-size: 20px;
  margin: 0;
  color: #419B8D;
  font-weight: lighter;

}

.profile-page-all-projects {
  margin: 36px 0 0 44px;
}

.profile-page-projects {
  margin-left: 44px;
}
.profile-page-project {
  width: 296px;
  height: 308px;
  background-color: #F0F1F3;
  display: inline-block;
  border: 1px solid lightgrey;
  margin-top: 24px;
  margin-right: 40px;
  overflow: hidden;
}


.profile-page-titles {
  font-size: 20px;
  margin: 36px 0 0 44px;
}

.project-image {
  width: 294px;
  height:164px;
  border: 1px solid lightgrey;
}
.project-name {
  font-size: 16px;
  margin: 8px 16px;
  display: inline-block;
}

.project-shares-total {
  margin-left: 16px;
  font-size: 14px;
  margin-top: 0;
  font-weight: lighter;
}

.project-funded {
  font-size: 14px;
  display: inline-block;
  float: right;
  margin: 8px 8px;
  font-weight: lighter;
  color: #419B8D;
}

.project-days-togo {
  font-size: 14px;
  display: inline-block;
  margin-left: 16px;
  margin-top: 36px;
  display: inline-block;
  font-weight: lighter;
}

.edit-project {
  font-size: 14px;
  margin-left: 100px;
  display: inline-block;
  color: #419B8D;
  font-weight: lighter;
}

// shares styling
.profile-page-purchases {
  margin-left: 44px;
}

.profile-page-purchase{
  height: 64px;
  margin: 0px 44px 0 0;
  margin-bottom: 0px;
  padding-top: 24px;
  overflow: hidden;
}

.profile-page-divider {
  margin-right: 44px;
}

.purchase-project {
  font-size: 16px;
  display: inline-block;
}

.purchase-num-shares {
  font-size: 14px;
  display: inline-block;
  float: right;
  margin-left: 400px;
  font-weight: lighter;
}

.profile-project-link {
  color: #419B8D;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
}
